# API Key de ArcGIS Developer (obligatoria para todas las vistas)
VITE_ARCGIS_API_KEY=tu_api_key

# Item ID del Web Map alojado en ArcGIS Online (Investigación B)
# Lo obtienes de la URL del item en AGOL:
#   https://www.arcgis.com/home/item.html?id=<ESTE_ID>
VITE_WEBMAP_ITEM_ID=tu_webmap_item_id
